.contactContainer {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    place-items: center;
    background-color: white;
    position: fixed;
  }

  #bg {
    position: absolute; 
    opacity: 0.6;
    align-items: center;
    top: 0%; 
    left: 0%;
    right: 0%;
    bottom: 0%; 
    width: 95%; 
    height: 95%;
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    background-size: cover;
    overflow: hidden;
  }
  
  .mailBtn {
    text-decoration: underline overline;
    color: red;
    transform: translateX(-100vw);
    animation: mailBtnAnimation 2s forwards;
  }
  
  .mailBtn > button {
    text-decoration: none;
    background-color: white;
    border-radius: 5%;
    height: 20px;
    padding: 1vmax;
    color: tomato;
    font: 200 2vmax "Roboto Condensed";
    cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
    padding: 2vmax;
  }
  
  @keyframes mailBtnAnimation {
    to {
      transform: translateX(0);
    }
  }